---
layout: default
---

{% for post in site.posts %}
<div class="article-wrapper">
    <article>
    {% include article-header.html page=post link=true %}
        <section class="post-content">
            {% assign excerpt_size = post.excerpt | size %}
            {% assign content_size = post.content | size %}
            {% if excerpt_size < content_size %}
            {{ post.excerpt }}
            {% else %}
            {{ post.content }}
            {% endif %}
        </section>
    </article>
</div>

{% if forloop.last != true %}
<hr/>
{% endif %}
{% endfor %}
